body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button,
input,
textarea {
  border: transparent;
  background-color: transparent;
  outline: transparent;
  line-height: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

.btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.icon {
  fill: #f4f4fd;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/*----------------------PAGE-HEADER------------------------*/
.page-header {
  display: none;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
}

.page-header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-header .logo-link {
  margin-right: 76px;
}

.logo {
  color: #2e2f42;
}

.page-header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.page-header-link {
  display: inline-block;
  padding: 24px 0;
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header-link.active {
  color: #404bbf;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.page-header-info {
  font-style: normal;
  margin-left: auto;
}

.page-header-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.page-header-info-link {
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header-link:hover,
.page-header-info-link:hover,
.page-header-link:focus,
.page-header-info-link:focus {
  color: #404bbf;
}
/*--------------------------------------------------------*/

/*------------------------HERO----------------------------*/
.hero {
  margin: 0 auto;
  padding: 72px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto 72px;
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
/*--------------------------------------------------------*/

/*------------------------FEATURES------------------------*/
.features-list-item {
  margin-bottom: 72px;
}

.features-list-item:last-child {
  margin-bottom: 0;
}

.features-item-thumb {
  display: none;
}

.features-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features-text {
  font-weight: 500;
}
/*--------------------------------------------------------*/

/*------------------------OUR-TEAM------------------------*/
.our-team {
  background-color: #f4f4fd;
}

.our-team-container {
  max-width: 296px;
}

.our-team-item {
  margin-bottom: 72px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-item:last-child {
  margin-bottom: 0;
}

.our-team-inner {
  padding: 32px 16px;
  text-align: center;
}

.our-team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-text {
  margin-bottom: 8px;
}

.our-team-inner-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-inner-item {
  width: 40px;
  height: 40px;
}

.our-team-inner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}
/*--------------------------------------------------------*/

/*---------------------OUR-PORTFOLIO----------------------*/
.our-portfolio-item {
  margin-bottom: 48px;
}

.our-portfolio-item:last-child {
  margin-bottom: 0;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
}

.our-portfolio-inner {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/*--------------------------------------------------------*/

/*---------------------PAGE-FOOTER------------------------*/
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.page-footer-wrapper,
.page-footer-inner {
  margin-bottom: 72px;
}

.page-footer-inner-text {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.page-footer-inner-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.page-footer-inner-item {
  width: 40px;
  height: 40px;
}

.page-footer-inner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.page-footer .logo-link {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.page-footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.page-footer .logo {
  color: #f4f4fd;
}

.page-footer-wrap-text {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.page-footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.page-footer-input {
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.3;
}

.page-footer-input::placeholder {
  color: #ffffff;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  box-shadow: none;
}

.btn-subscribe-icon {
  margin-left: 16px;
}
/*--------------------------------------------------------*/

/*------------------------MODAL---------------------------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 72px 16px 24px;
  min-width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
}

.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal-form-group {
  margin-bottom: 8px;
}

.modal-form-group:nth-last-of-type(2) {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-label:last-child {
  margin-bottom: 0;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.modal-textarea {
  padding: 8px 16px;
  min-height: 120px;
  resize: none;
}

.modal-textarea::placeholder {
  color: #8e8f99;
  opacity: 0.5;
}

.modal-form-group-checkbox {
  margin-bottom: 24px;
  display: flex;
}

.modal-form-group-label {
  display: flex;
  align-items: center;
}

.modal-checkbox-span {
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
/*--------------------------------------------------------*/

/*------------------------ADAPTIVE/TABLET------------------------*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* HERO */
  .hero {
    padding: 112px 0;
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  /* FEATURES */
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: left;
  }

  /* OUR-TEAM */
  .our-team-container {
    max-width: 584px;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .our-team-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  /* OUR-PORTFOLIO */
  .our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .our-portfolio-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 24px) / 2);
  }

  /* PAGE-FOOTER */
  .page-footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 584px;
  }

  .page-footer-wrapper,
  .page-footer-inner {
    margin-bottom: 0;
  }

  .page-footer .logo-link,
  .page-footer-inner-text,
  .page-footer-wrap-text {
    text-align: left;
  }

  .page-footer-form {
    gap: 24px;
  }

  .page-footer-input {
    width: 264px;
  }

  /* MODAL */
  .modal {
    padding-left: 24px;
    padding-right: 24px;
    min-width: 408px;
    min-height: 584px;
  }

  .modal-text {
    padding: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1158px) {
  .page-footer-container {
    gap: 72px 24px;
  }
}
/*---------------------------------------------------------------*/

/*---------------------------ADAPTIVE/DESKTOP--------------------*/
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }

  .btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn:hover,
  .btn:focus {
    background-color: #404bbf;
  }

  /* HERO */
  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* FEATURES */
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-item-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }

  /* OUR-TEAM */
  .our-team-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .our-team-inner-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-team-inner-link:hover,
  .our-team-inner-link:focus {
    background-color: #404bbf;
  }

  /* OUR-PORTFOLIO */
  .our-portfolio-list {
    row-gap: 48px;
  }

  .our-portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .overlay-text {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-portfolio-item:hover .overlay-text {
    transform: translateY(0);
  }

  /* PAGE-FOOTER */
  .page-footer {
    padding: 100px 0;
  }

  .page-footer-wrapper {
    margin-right: 120px;
  }

  .page-footer-inner {
    margin-right: 80px;
  }

  .page-footer-inner-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-footer-inner-link:hover,
  .page-footer-inner-link:focus {
    background-color: #31d0aa;
  }

  .page-footer-input {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-footer-input:focus {
    opacity: 1;
  }

  /* MODAL */
  .modal-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover,
  .modal-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover .modal-btn-icon,
  .modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
  }

  .modal-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus + .modal-input-icon {
    fill: #4d5ae5;
  }

  .modal-checkbox-span {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-checkbox:checked + .modal-label .modal-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }
}
/*---------------------------------------------------------------*/
